<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search result</title>
</head>
<body>
    <form action="/result" method="POST">
    <input type="text" name="searchfeild" placeholder="enter charcater">
    <input type="radio" name="searchtype" value="skills">Skills
    <button type="submit">Search</button>
    </form>
</body>
</html>